{{#link-to leaderboard}}
  <span class="avatar">
    {{as-avatar model=model}}
  </span>
{{/link-to}}

<div class="progress">
  <span class="points">{{points}}</span>
  {{as-progress ratio=pointsRatio}}
</div>
