$layout-sidebar-nav-classes:
  leaderboard,
  hall-of-fame,
  stats;

$layout-sidebar-nav-icons:
  sort-amount-desc,
  trophy,
  bar-chart-o;

$layout-sidebar-footer-selector: '.user-session';
$layout-sidebar-header-height: 60px;
$layout-sidebar-nav-list-selector: '> div > .content > ul';
