section.status {
  & > div {
    &:after {
      @include transition(all 1s ease);
      content: "";
      display: block;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      border-radius: 50%;
      border: 5px solid;
    }

    p {
      float: left;
      width: 100%;
      padding-top: 50%;
      line-height: 1em;
      margin-top: -0.5em;
      text-align: center;
      font-size: 40px;
      font-weight: 200;
      text-transform: capitalize;
    }

    &.ok {
      &:after {
        border-color: $ok-color;
      }
    }

    &.warning {
      &:after {
        border-color: $warning-color;
      }
    }
    
    &.error {
      &:after {
        border-color: $error-color;
      }
    }
  }
}
