<div class="leaderboard">
  <header>
    <h1>Stats</h1>
  </header>
  <section class="filters">
    <nav>
      <ul>
        <li>{{#link-to "stats" "pull_requests"}}<span>Pull Requests</span>{{/link-to}}</li>
        <li>{{#link-to "stats" "reviews"}}<span>Reviews</span>{{/link-to}}</li>
        <li>{{#link-to "stats" "additions"}}<span>Additions</span>{{/link-to}}</li>
        <li>{{#link-to "stats" "deletions"}}<span>Deletions</span>{{/link-to}}</li>
      </ul>
    </nav>

    <div class="content">
      <h3>Top 5</h3>
      <div class="scores">
        {{#each categoryStats as |stat|}}
          {{user-performance model=stat points=stat.count}}
        {{/each}}
      </div>
    </div>
  </section>
</div>
