$wrapper-max-width: 1200px;
$avatar-size: 40px;

.leaderboard {
  padding: $column-gutter;
  position: absolute;
  top: $layout-sidebar-header-height;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  @media #{$small-only} {
    padding: $column-gutter / 2;

    .nickname {
      font-size: $h5-font-size;
    }
  }

  h1 {
    text-align: center;
    font-size: $h1-font-size;
  }

  .filters {
    @include tabs;

    text-align: center;
    padding-bottom: $column-gutter;

    .content { padding-top: $column-gutter; }
  }

  h3 {
    text-align: center;
    margin-bottom: $column-gutter;
  }

  .nickname {
    float: left;
    font-size: $h3-font-size;
    letter-spacing: 1px;
    flex: 1;
  }

  .scores {
    max-width: $wrapper-max-width;
    margin: 0 auto;

    > * {
      display: inline-flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid color(gray, ghost);
      border-radius: $global-radius;
      padding: $column-gutter / 2 $column-gutter;
      transition:
        background-color $global-transition-duration ease,
        transform $global-transition-duration ease-in-out,
        box-shadow $global-transition-duration ease;

      &:nth-child(-n+5) {
        width: 20%;
        padding: 0;
        display: flex;
        flex-direction: column;
        float: left;
        padding: $column-gutter 0;
        box-shadow: 0 2px 3px color(border);
        background-color: lighten(color(link, light), 40%);
        box-shadow: 0 2px 3px lighten(color(link, light), 40%);
        border: none;

        &:hover {
          background-color: lighten(color(link, light), 40%);
          box-shadow: 0 2px 3px color(link, light);
        }

        &:before {
          border-radius: 50%;
          background-color: color(link);
          color: color(white);
          width: $avatar-size;
          height: $avatar-size;
          line-height: $avatar-size;
          text-align: center;
          margin-top: -$avatar-size;
          margin-bottom: $column-gutter;
          box-shadow: 0 0 3px color(link);
        }

        .avatar {
          box-shadow: 0 0 7px color(link);
          width: $avatar-size * 2;
          height: $avatar-size * 2;
        }

        @media #{$small-only} {
          width: 100%;
        }
      }

      &:nth-child(1):before { content: '1' }
      &:nth-child(2):before { content: '2' }
      &:nth-child(3):before { content: '3' }
      &:nth-child(4):before { content: '4' }
      &:nth-child(5):before { content: '5' }

      &:last-child {
        border: none;
      }

      &:hover {
        background-color: color(border, light);
        box-shadow: 0 2px 3px color(border);
        transform: scale(1.1);
      }

      .avatar {
        background-color: color(gray, smoke);
        width: 3em;
        border-radius: 50%;
        height: 3em;
        text-align: center;
        overflow: hidden;
        display: block;
      }
    }

    .points {
      font-size: $h2-font-size;
      float: right;
      font-weight: $font-weight-bold;
      color: color(gray, jet);
    }
  }
}
