.session {
  background-color: color(link);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color $global-transition-duration ease;
  animation-name: smooth-background;
  animation-duration: 7s;
  animation-iteration-count: infinite;

  &:before {
    @include linear-gradient(lighten(color(link), 100%), darken(color(link), 50%));

    width: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    content: '';
  }

  .logo {
    animation: animate-logo;
    animation-duration: 7s;
    animation-iteration-count: infinite;

    .background {
      animation: animate-logo-background;
      animation-duration: 7s;
      animation-iteration-count: infinite;
    }
  }

  .lion-text {
    margin: $column-gutter 0;
    .letter {
      &-l { fill: color(link); }
      &-i { fill: darken(color(link), 13%); }
      &-o { fill: darken(color(link), 13%); }
      &-n { fill: color(link); }
    }
  }

  button {
    @include icon(github, before);
    @extend %button-primary-inverted;

    padding: $column-gutter / 2 $column-gutter * 2;
    transition: background-color $global-transition-duration ease;
  }

  h1 {
    font-size: $h1-font-size * 1.5;
    color: color(link);
  }

  h3 {
    margin-bottom: $column-gutter;
    color: color(gray, monsoon);
  }

  .wrapper {
    text-align: center;
    max-width: 400px;
  }

  .panel {
    @extend %panel;

    width: 100%;
    padding: 1.5rem 5em;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    border-radius: 2em;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    background: rgba(255,255,255,0.9);
  }

  .branding {
    flex-start: bottom;
    margin: $column-gutter 0;

    *, & {
      color: color(white);
    }
  }
}

@keyframes smooth-background {
  0%   {background-color: rgba(color(link), 0.7);}
  25%  {background-color: rgba(lighten(color(link), 13%), 0.7);}
  50%  {background-color: rgba(saturate(color(link), 13%), 0.7);}
  100% {background-color: rgba(color(link), 0.7);}
}

@keyframes animate-logo {
  0%    { transform: scale(1)}
  25%   { transform: scale(1.03)}
  50%   { transform: scale(0.97)}
  100%   { transform: scale(1)}
}

@keyframes animate-logo-background {
  0%    { fill: rgba(color(link), 0.8);}
  25%   { fill: rgba(saturate(color(link), 7%), 0.8); }
  50%   { fill: rgba(darken(color(link), 13%), 0.8);}
  100%  { fill: rgba(color(link), 0.8);}
}