<div class="hall-of-fame">
  <header>
    <h1>Hall of Fame</h1>
  </header>

  <div class="weekly-winners">
    {{#each model as |weeklyWinning|}}
      <div class="details">
        <span class="date">{{moment-format weeklyWinning.startDate "MMMM Do YYYY"}}</span>
        {{user-performance model=weeklyWinning.winner points=weeklyWinning.points}}
      </div>
    {{/each}}
  </div>
</div>
