<header class="main-menu">
  <svg class="logo"
   width="40px" viewBox="0 0 231.551 238.644"
   xml:space="preserve">
    <line fill="#333333" x1="146.359" y1="131.24" x2="113.039" y2="108.499"/>
    <path class="background" fill="#3A3A3A" d="M231.551,119.87
      c0,7.367-11.509,13.51-12.888,20.473c-1.418,7.177,6.842,17.241,4.1,23.844c-2.783,6.718-15.768,7.986-19.768,13.954
      c-4.024,6.019-0.253,18.492-5.355,23.595c-5.099,5.1-17.576,1.328-23.592,5.355c-5.971,3.996-7.239,16.981-13.957,19.768
      c-6.6,2.739-16.666-5.521-23.844-4.1c-6.962,1.376-13.103,12.885-20.474,12.885c-7.367,0-13.51-11.509-20.473-12.889
      c-7.173-1.418-17.241,6.838-23.844,4.104c-6.717-2.786-7.983-15.771-13.953-19.768c-6.016-4.027-18.493-0.256-23.595-5.359
      c-5.1-5.099-1.328-17.576-5.355-23.591c-3.997-5.971-16.981-7.24-19.765-13.954c-2.738-6.603,5.518-16.67,4.097-23.844
      C11.509,133.38,0,127.237,0,119.87s11.509-13.511,12.885-20.477c1.421-7.173-6.834-17.241-4.097-23.84
      c2.783-6.721,15.768-7.986,19.765-13.957c4.028-6.016,0.256-18.493,5.359-23.592c5.099-5.103,17.576-1.331,23.592-5.359
      c5.97-3.997,7.239-16.981,13.953-19.765c6.603-2.738,16.67,5.518,23.844,4.101c6.963-1.38,13.106-12.889,20.473-12.889
      c7.371,0,13.512,11.509,20.478,12.889c7.174,1.417,17.24-6.838,23.844-4.101c6.717,2.783,7.982,15.768,13.953,19.768
      c6.016,4.024,18.493,0.252,23.596,5.355c5.099,5.099,1.327,17.576,5.354,23.592c3.997,5.97,16.981,7.235,19.769,13.957
      c2.738,6.6-5.521,16.667-4.104,23.84C220.042,106.359,231.551,112.502,231.551,119.87z"/>
    <g>
      <path fill="#3A3A3A" d="M115.777,169.166l0.553-0.54c-0.183-0.139-0.37-0.297-0.553-0.429V169.166z"/>
      <path fill="#FFFFFF" d="M179.327,90.888c-0.26-0.688-3.883-12.111-6.333-17.403c-5.667-12.231-14.282-14.672-17.652-14.271
        c-21.487,2.555-14.839,17.883-37.847,17.883c-0.591,0.039-1.144,0.018-1.718,0.024c-0.574-0.007-1.127,0.014-1.719-0.024
        c-23.007,0-16.359-15.329-37.845-17.883c-3.371-0.401-11.986,2.04-17.652,14.271c-2.451,5.292-6.074,16.715-6.333,17.403
        c-2.161,5.749-3.136,13.262,0.208,17.224c15.827,21.365,32.635,14.634,21.137,43.409c-7.71,19.291,14.019,29.043,20.85,29.043
        c10.347,0,15.291-8.294,20.563-12.166l-7.775-7.546l-9.756-9.532c0,0,0.197-0.142,0.512-0.328
        c-0.003-0.404-0.255-17.023-6.441-27.125l-0.003-0.007c-5.4-1.729-12.802-4.508-16.578-7.744
        c-4.875-4.176-5.109-10.344-13.275-14.883c0,0,36.301-0.906,36.301,24.504v25.255c1.39-0.833,6.164-3.053,17.808-3.053
        c11.644,0,16.418,2.22,17.808,3.053v-25.255c0-25.41,36.301-24.504,36.301-24.504c-8.166,4.539-8.401,10.707-13.275,14.883
        c-3.775,3.236-11.178,6.015-16.577,7.744l-0.004,0.007c-6.185,10.102-6.438,26.721-6.441,27.125
        c0.315,0.187,0.513,0.328,0.513,0.328l-9.756,9.532l-7.775,7.546c5.272,3.872,10.216,12.166,20.562,12.166
        c6.832,0,28.56-9.752,20.851-29.043c-11.499-28.774,5.311-22.043,21.138-43.409C182.463,104.15,181.488,96.637,179.327,90.888z"/>
      <path fill="#3A3A3A" d="M115.508,167.99
        c-0.177,0.117-0.346,0.28-0.522,0.407l0.792,0.769v-0.969C115.688,168.135,115.598,168.049,115.508,167.99z"/>
      <polygon fill="#3A3A3A" points="97.97,150.991 97.966,150.991
        97.97,151.063   "/>
    </g>
  </svg>
  <h2 class="header">Lion</h2>
  <ul>
    <li class="weekly">{{#link-to "leaderboard" "weekly"}}<span>Weekly</span>{{/link-to}}</li>
    <li class="all-time">{{#link-to "leaderboard" "all-time"}}<span>All Time</span>{{/link-to}}</li>
    <li class="teams">{{#link-to "stats"}}<span>Stats</span>{{/link-to}}</li>
    <li class="hall-of-fame">{{#link-to "hall-of-fame"}}<span>Hall of fame</span>{{/link-to}}</li>
  </ul>

</header>

{{outlet}}
