<section class="hall-of-fame">
  <h1>Hall of Fame</h1>

  <ul class="weekly-winners">
    {{#each}}
      <li>
        <div>
          <div class="profile-picture"
            <img {{bind-attr src=winner.avatarUrl}}/>
          </div>

          <p>
            <span>{{formattedDate startDate 'MMMM Do YY'}}</span>
            <br>
            <span class="points">{{points}}</span>
          </p>
        </div>
      </li>
    {{/each}}
  </ul>
</section>
