<header>
  <h1>Leaderboard</h1>
</header>
<div class="scores">
  {{#each arrangedScores as |score|}}
    {{as-user-performance
      model=score.user
      points=score.points
      maxPoints=maxPoints}}
  {{/each}}
</div>
