<div class="leaderboard">
  <header>
    <h1>Leaderboard</h1>
  </header>
  <section class="filters">
    <nav>
      <ul>
        <li>{{#link-to "leaderboard" "weekly"}}<span>Weekly</span>{{/link-to}}</li>
        <li>{{#link-to "leaderboard" "all_time"}}<span>All Time</span>{{/link-to}}</li>
      </ul>
    </nav>

    <div class="content">
      <h3>Top 5</h3>
      <div class="scores">
        {{#each arrangedScores as |score|}}
          {{as-user-performance model=score.user points=score.points}}
        {{/each}}
      </div>
    </div>
  </section>
</div>
