<div class="session">
  <div class="wrapper">
    <div class="panel">
      <img src="assets/images/logo.svg"/>
      <h1>Lion</h1>
      <h3>Gamification for your Dev Team</h3>
      <button class="github github-login" {{action "authenticateWithGithub"}}>
        Sign in with GitHub
      </button>
    </div>
    <div class="branding">by <a href="http://engineering.alphasights.com">AlphaSights</a></div>
  </div>
</div>
